* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 20px;
}

.navbar-brand {
    font-size: 1.5rem;
}

#messages .toast-container {
    margin-bottom: 12px;
}

#rezensionsplattform {
    max-width: 150px;
}

#rezensionsplattform:focus {
    outline: none;
    box-shadow: none;
}

#message:focus {
    box-shadow: none;
}

.background-user {
    background-color: #c3002d;
}

.background-assistant {
    background-color: #c3002d;
}

.no-shadow {
    box-shadow: none !important;
}